<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519677881388-cbip8bor2hs3fnerrfdvhbk19u8sfmsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519677881388-cbip8bor2hs3fnerrfdvhbk19u8sfmsh</string>
	<key>API_KEY</key>
	<string>AIzaSyDPETs67otUzuFuws3PG54tTRqcIIziEg0</string>
	<key>GCM_SENDER_ID</key>
	<string>519677881388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SalmaTharwat.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-4e7d2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-4e7d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519677881388:ios:e88cfcbad008538f15b589</string>
	<key>DATABASE_URL</key>
	<string>https://chat-4e7d2.firebaseio.com</string>
</dict>
</plist>